.home-page
{
  position: relative;
  background: #a5a2a2;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  #container-cnv{ overflow: hidden;}

  &__bg
  {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .45;
    filter: blur(6px);

  }

  &__logo
  {
    position: absolute;
    z-index: 3;
    width: 22%;
  }
}

.particles-js
{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}
