.timeline_section {
    padding: 100px 0;
    .fullwidth {
        width: 100%;
    }
    h1 {
        text-align: center;
        font-size: 3em;
        letter-spacing: 3px;
        font-weight: 700;
        &:after {
            content: '';
            width: 5%;
            margin: 30px auto 15px;
            height: 1px;
            background: #aaa;
            display: block;
        }
    }
    .timeline {
        position: relative;
        margin: 0 auto;
        padding: 20px;
        background-color: inherit;
        &:after {
            content: '';
            position: absolute;
            width: 1px;
            background-color: rgb(102, 176, 236);
            left: 50%;
            top: 0;
            bottom: 0;
            margin-left: 1px;
        }
        &.last-child:after {
            height: 86.5%;
        }
    }
    .timeline--first:after {
        top: 20px;
    }
    .era {
        text-align: center;
        position: relative;
        z-index: 1;
        padding-bottom: 20px;
        &__title {
            background-color: rgb(102, 176, 236);
            color: #EEEEEE;
            display: inline-block;
            padding: 10px 20px;
            cursor: default;
        }
    }
    .entry {
        padding: 10px 30px 40px;
        width: 50%;
        position: relative;
        background-color: inherit;
        @include mobile {
            padding: 10px 0 40px 0px;
            width: 100%;
            z-index: 9000;
        }
        figure {
            margin: 0;
        }
        h2 {
            color: #525252;
            margin-bottom: 0.5em;
            font-family: "Raleway", Helvetica, sans-serif;
            font-size: 22px;
            @include mobile {
                font-size: 16px;
            }
            font-weight: bold;
        }
        p {
            color: #686868;
            font-family: "Raleway", Helvetica, sans-serif;
            font-size: 15px;
            @include mobile {
                font-size: 14px;
            }
            line-height: 1.4;
            &.time {
                font-size: 13px;
                padding-top: 10px;
            }
        }
        &--right {
            margin-left: 50%;
            @include mobile {
                text-align: center;
                margin-left: 0;
            }
            .entry__img {
                align-items: center;
                justify-content: flex-start;
            }
            &:before {
                right: auto;
                left: 10px;
            }
            &:after {
                right: auto;
                left: -11px;
            }
        }
        figcaption {
            margin: 0 10px;
            
        }
        &--left {
            text-align: right;
            @include mobile {
                text-align: center;
            }
            figcaption {
                @include mobile {
                    order: 1;
                }
            }
        }
        &__content {
            padding: 20px 70px;
            background-color: #FFFFFF;
            position: relative;
            cursor: default;
            transition: all 0.3s ease 0s;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
            @include mobile {
                padding: 20px 10px;
            }
            @include tablet {
                padding: 20px 30px;
            }
        }
        &__content .row {
            align-items: center;
        }
        &__content:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }
        &__img {
            align-items: center;
            justify-content: flex-end;
            height: 100px;
            margin-bottom: 20px;
            cursor: pointer
        }
        &__img img {
            border-radius: 50%;
            width: 80px;
            height: 80px;
            object-fit: cover;
            margin: 0;
        }
        &:before {
            content: "";
            display: block;
            height: 1px;
            position: absolute;
            top: calc(45% + 12px);
            right: 10px;
            width: 21px;
            z-index: 1;
            background: rgb(102, 176, 236);
            z-index: -1;
            @include mobile {
                content: none;
            }
        }
        &:after {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            right: -14px;
            background-color: #FFF;
            border: 1px solid rgb(102, 176, 236);
            top: 45%;
            border-radius: 50%;
            z-index: 1;
            @include mobile {
                content: none;
            }
        }
    }
}
